.project {
    position: relative;
}

.project-links {
    position: absolute;
    top: 50%;
    left: 25%;
    display: none;
}

.project:hover {
    opacity: 0.5;
}

.project:hover .project-links{
    display: block;
}